<div class="card">
    <div class="card-header">
      <h3>Parametros</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>CODENT</th>
            <th>CENTALTA</th>
            <th>PRODUCTO</th>
            <th>SUBPRODU</th>
            <th>CONDPRO</th>
            <th>CODCAM</th>
            <th>CODCONVEN</th>
            <th>CODPROMO</th>
            <th>NUMPER</th>
            <th>NUMPERAVAL</th>
            <th>INDCTAEMP</th>
            <th>INDNOMEMP</th>
            <th>NOMBREEMP</th>
            <th>CODREGIMEN</th>
            <th>FORPAGO</th>
            <th>INDSITCTA</th>
            <th>GRUPOLIQ</th>
            <th>GRUPOCUO</th>
            <th>OFIVEN</th>
            <th>CLAMON1</th>
            <th>LIMCRECTA1</th>
            <th>IMPFPAGOA1</th>
            <th>LIMCRECOM1</th>
            <th>LIMCRECOMG1</th>
            <th>CLAMON2</th>
            <th>LIMCRECTA2</th>
            <th>IMPFPAGOA2</th>
            <th>LIMCRECOM2</th>
            <th>LIMCRECOMG2</th>
            <th>CTACARGO1</th>
            <th>CLAMONCON1</th>
            <th>INDDOMCARCRE</th>
            <th>CODFORMATO</th>
            <th>CTADOMTAR1</th>
            <th>MONCTATAR1</th>
            <th>INDACTPAS1</th>
            <th>CTADOMTAR2</th>
            <th>MONCTATAR2</th>
            <th>INDACTPAS2</th>
            <th>NUMPERTAR</th>
            <th>CALPARTTAR</th>
            <th>INDTIPTTAR</th>
            <th>CODMARTAR</th>
            <th>NOMBENREDTAR</th>
            <th>IDEMPLEADOTAR</th>
            <th>PANASOCTAR</th>
            <th>CODBARRASTAR</th>
            <th>REFFOTOTAR</th>
            <th>ESTPLASTAR1</th>
            <th>ESTPLASTAR2</th>
            <th>IDENVESTTAR</th>
            <th>CENTESTTAR</th>
            <th>INDENVPINTAR</th>
            <th>CENTPINTAR</th>
            <th>CONDESTTAR</th>
            <th>CODPROMOTAR</th>
            <th>CLAMON1TAR</th>
            <th>LIMDIACAJ1TAR</th>
            <th>MAXDIACAJ1TAR</th>
            <th>CLAMON2TAR</th>
            <th>LIMDIACAJ2TAR</th>
            <th>MAXDIACAJ2TAR</th>
            <th>CUENTA</th>
            <th>DESCLAMON</th>
            <th>FECALTA</th>
            <th>PANTAR</th>
            <th>FECALTATAR</th>
            <th>FECCADTAR</th>
            <th>DESMARREDTAR</th>
            <th>DESTIPTREDTAR</th>
            <th>INDSITTARTAR</th>
            <th>DESSITTARTAR</th>
            <th>FECCOBCUO</th>
            <th>DESCLAMON1</th>
            <th>DESCLAMON2</th>
            <th>CONTCUR</th>
            <th>NSECFICCAB</th>
            <th>TIPOCINTACAB</th>
            <th>NUMREGTOTCAB</th>
            <th>EDOCINTACAB</th>
            <th>VALIDACIONCAB</th>
            <th>NSECFICDET</th>
            <th>TIPOCINTADET</th>
            <th>INDCAMPOINFODET</th>
            <th>TIPOBONC1</th>
            <th>RESEMIEXT</th>
            <th>INDPERCUO</th>
            <th>NUMMESTOT</th>
            <th>NUMFACSC</th>
            <th>SEQPLASTICO</th>
            <th>TIPOBONT1</th>
            <th>INDACTLIM</th>
            <th>INDCAMLIM</th>
            <th>VISAPHONE</th>
            <th>INDFOTO</th>
            <th>MAXOPER</th>
            <th>MAXODIA</th>
            <th>INDCTA</th>
            <th>INDAJENA</th>
            <th>INDTIPCTA</th>
            <th>CCCPRODUC</th>
            <th>CCCSUBPRO</th>
            <th>NSECFICFIN</th>
            <th>TIPOCINTAFIN</th>
            <th>EDOCINTAFIN</th>
            <th>VALIDACIONFIN</th>
            <th>LIMCRETAR</th>
            <th>LIMCREMES</th>
            <th>LIMDEBMES</th>
            <th>LIMCREDIA</th>
            <th>LIMDEBDIA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parametro of parametros" class="text-center">
            <td>{{parametro.codent}}</td>
            <td>{{parametro.centalta}}</td>
            <td>{{parametro.producto}}</td>
            <td>{{parametro.subprodu}}</td>
            <td>{{parametro.condpro}}</td>
            <td>{{parametro.codcam}}</td>
            <td>{{parametro.codconven}}</td>
            <td>{{parametro.codpromo}}</td>
            <td>{{parametro.numper}}</td>
            <td>{{parametro.numperaval}}</td>
            <td>{{parametro.indctaemp}}</td>
            <td>{{parametro.indnomemp}}</td>
            <td>{{parametro.nombreemp}}</td>
            <td>{{parametro.codregimen}}</td>
            <td>{{parametro.forpago}}</td>
            <td>{{parametro.indsitcta}}</td>
            <td>{{parametro.grupoliq}}</td>
            <td>{{parametro.grupocuo}}</td>
            <td>{{parametro.ofiven}}</td>
            <td>{{parametro.clamon1}}</td>
            <td>{{parametro.limcrecta1}}</td>
            <td>{{parametro.impfpagoa1}}</td>
            <td>{{parametro.limcrecom1}}</td>
            <td>{{parametro.limcrecomg1}}</td>
            <td>{{parametro.clamon2}}</td>
            <td>{{parametro.limcrecta2}}</td>
            <td>{{parametro.impfpagoa2}}</td>
            <td>{{parametro.limcrecom2}}</td>
            <td>{{parametro.limcrecomg2}}</td>
            <td>{{parametro.ctacargo1}}</td>
            <td>{{parametro.clamoncon1}}</td>
            <td>{{parametro.inddomcarcre}}</td>
            <td>{{parametro.codformato}}</td>
            <td>{{parametro.ctadomtar1}}</td>
            <td>{{parametro.monctatar1}}</td>
            <td>{{parametro.indactpas1}}</td>
            <td>{{parametro.ctadomtar2}}</td>
            <td>{{parametro.monctatar2}}</td>
            <td>{{parametro.indactpas2}}</td>
            <td>{{parametro.numpertar}}</td>
            <td>{{parametro.calparttar}}</td>
            <td>{{parametro.indtipttar}}</td>
            <td>{{parametro.codmartar}}</td>
            <td>{{parametro.nombenredtar}}</td>
            <td>{{parametro.idempleadotar}}</td>
            <td>{{parametro.panasoctar}}</td>
            <td>{{parametro.codbarrastar}}</td>
            <td>{{parametro.reffototar}}</td>
            <td>{{parametro.estplastar1}}</td>
            <td>{{parametro.estplastar2}}</td>
            <td>{{parametro.idenvesttar}}</td>
            <td>{{parametro.centesttar}}</td>
            <td>{{parametro.indenvpintar}}</td>
            <td>{{parametro.centpintar}}</td>
            <td>{{parametro.condesttar}}</td>
            <td>{{parametro.codpromotar}}</td>
            <td>{{parametro.clamon1tar}}</td>
            <td>{{parametro.limdiacaj1tar}}</td>
            <td>{{parametro.maxdiacaj1tar}}</td>
            <td>{{parametro.clamon2tar}}</td>
            <td>{{parametro.limdiacaj2tar}}</td>
            <td>{{parametro.maxdiacaj2tar}}</td>
            <td>{{parametro.cuenta}}</td>
            <td>{{parametro.desclamon}}</td>
            <td>{{parametro.fecalta}}</td>
            <td>{{parametro.pantar}}</td>
            <td>{{parametro.fecaltatar}}</td>
            <td>{{parametro.feccadtar}}</td>
            <td>{{parametro.desmarredtar}}</td>
            <td>{{parametro.destiptredtar}}</td>
            <td>{{parametro.indsittartar}}</td>
            <td>{{parametro.dessittartar}}</td>
            <td>{{parametro.feccobcuo}}</td>
            <td>{{parametro.desclamon1}}</td>
            <td>{{parametro.desclamon2}}</td>
            <td>{{parametro.contcur}}</td>
            <td>{{parametro.nsecficcab}}</td>
            <td>{{parametro.tipocintacab}}</td>
            <td>{{parametro.numregtotcab}}</td>
            <td>{{parametro.edocintacab}}</td>
            <td>{{parametro.validacioncab}}</td>
            <td>{{parametro.nsecficdet}}</td>
            <td>{{parametro.tipocintadet}}</td>
            <td>{{parametro.indcampoinfodet}}</td>
            <td>{{parametro.tipobonc1}}</td>
            <td>{{parametro.resemiext}}</td>
            <td>{{parametro.indpercuo}}</td>
            <td>{{parametro.nummestot}}</td>
            <td>{{parametro.numfacsc}}</td>
            <td>{{parametro.seqplastico}}</td>
            <td>{{parametro.tipobont1}}</td>
            <td>{{parametro.indactlim}}</td>
            <td>{{parametro.indcamlim}}</td>
            <td>{{parametro.visaphone}}</td>
            <td>{{parametro.indfoto}}</td>
            <td>{{parametro.maxoper}}</td>
            <td>{{parametro.maxodia}}</td>
            <td>{{parametro.indcta}}</td>
            <td>{{parametro.indajena}}</td>
            <td>{{parametro.indtipcta}}</td>
            <td>{{parametro.cccproduc}}</td>
            <td>{{parametro.cccsubpro}}</td>
            <td>{{parametro.nsecficfin}}</td>
            <td>{{parametro.tipocintafin}}</td>
            <td>{{parametro.edocintafin}}</td>
            <td>{{parametro.validacionfin}}</td>
            <td>{{parametro.limcretar}}</td>
            <td>{{parametro.limcremes}}</td>
            <td>{{parametro.limdebmes}}</td>
            <td>{{parametro.limcredia}}</td>
            <td>{{parametro.limdebdia}}</td>
            <td>
              <button (click)="Editarparametro(parametro)" class="btn btn-warning">Editar</button>
              <button (click)="Borrarparametro(parametro)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>